body{
    background: url("/media/imgs/position_date_analysis2.svg");
    -webkit-perspective: 1300;
    -webkit-perspective-origin: 50% -300%;
}
div{
    -webkit-transition:all 0.5s ease;
}
.box{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 200px auto 0;
    -webkit-transform-style: preserve-3d;
}
.outer{
    position:absolute;
    top:-50px;
    left: -50px;
    width:200px;
    height:200px;
    background:rgba(255,255,255,0.6);
    box-shadow:0 0 3px 1px black;
}
.box div:nth-child(7){
    -webkit-transform: rotateY(90deg) translateZ(100px);
}
.box div:nth-child(8){
    -webkit-transform: rotateY(180deg) translateZ(100px);
}
.box div:nth-child(9){
    -webkit-transform: rotateY(270deg) translateZ(100px);
}
.box div:nth-child(10){
    -webkit-transform: rotateY(360deg) translateZ(100px);
}
.box div:nth-child(11){
    -webkit-transform: rotateX(90deg) translateZ(100px);
}
.box div:nth-child(12){
    -webkit-transform: rotateX(270deg) translateZ(100px);
}
.box{
    -webkit-animation: rotateRound 10s linear infinite;
}
.box:hover div:nth-child(7){
    -webkit-transform:rotateY(90deg) translateZ(200px);
}
.box:hover div:nth-child(8){
    -webkit-transform:rotateY(180deg) translateZ(200px);
}
.box:hover div:nth-child(9){
    -webkit-transform:rotateY(270deg) translateZ(200px);
}
.box:hover div:nth-child(10){
    -webkit-transform:rotateY(360deg) translateZ(200px);
}
.box:hover div:nth-child(11){
    -webkit-transform:rotateX(90deg) translateZ(200px);
}
.box:hover div:nth-child(12){
    -webkit-transform:rotateX(270deg) translateZ(200px);
}
.inner{
    position:absolute;
    width:100px;
    height:100px;
    background:rgba(255,255,255,0.6);
    box-shadow:0 0 3px 1px black;
}
.box div:nth-child(1){
    -webkit-transform: rotateY(90deg) translateZ(50px);
    background:url("/media/imgs/pos");
    background-size:100% 100%;
}
.box div:nth-child(2){
    -webkit-transform: rotateY(180deg) translateZ(50px);
    background:url("../images/2.jpg");
    background-size:100% 100%;
}
.box div:nth-child(3){
    -webkit-transform: rotateY(270deg) translateZ(50px);
    background:url("../images/3.jpg");
    background-size:100% 100%;
}
.box div:nth-child(4){
    -webkit-transform: rotateY(360deg) translateZ(50px);
    background:url("../images/4.jpg");
    background-size:100% 100%;
}
.box div:nth-child(5){
    -webkit-transform: rotateX(90deg) translateZ(50px);
    background:url("../images/5.jpg");
    background-size:100% 100%;
}
.box div:nth-child(6){
    -webkit-transform: rotateX(270deg) translateZ(50px);
    background:url("../images/6.jpg");
    background-size:100% 100%;
}
.box:hover div:nth-child(1){
    -webkit-transform:rotateY(90deg);
}
.box:hover div:nth-child(2){
    -webkit-transform:rotateY(90deg);
}
.box:hover div:nth-child(3){
    -webkit-transform:rotateY(90deg);
}
.box:hover div:nth-child(4){
    -webkit-transform:rotateY(90deg);
}
.box:hover div:nth-child(5){
    -webkit-transform:rotateY(90deg);
}
.box:hover div:nth-child(6){
    -webkit-transform:rotateY(90deg);
}
@-webkit-keyframes rotateRound{
    from{
        -webkit-transform: rotateY(0deg);
    }
    to{
        -webkit-transform: rotateY(360deg);
    }
}

